.content-outer {
  height: 1200px;
  background-color: #eee;
  overflow: hidden;
}
.content-outer .content-wrapper {
  position: relative;
  height: 1000px;
  margin-top: 30px;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
}
.content-outer .content-wrapper .J_FilterBar {
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px;
  border-bottom: 1px solid #ccc;
}
.content-outer .content-wrapper .J_FilterBar > span {
  font-size: 20px;
  font-weight: 600;
  height: 72px;
  line-height: 73px ;
}
.content-outer .content-wrapper .J_FilterBar .cart-sum .pay-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-outer .content-wrapper .J_FilterBar .cart-sum .pay-text > span {
  font-size: 16px;
}
.content-outer .content-wrapper .J_FilterBar .cart-sum .pay-text strong em {
  font-size: 22px;
  color: #FF5000;
  margin-left: 5px;
  margin-right: 10px;
}
.content-outer .content-wrapper .J_FilterBar .cart-sum .pay-text > a {
  background-color: #aaa;
  color: white;
  font-size: 18px;
  width: 74px;
  height: 42px;
  border-radius: 26px;
  display: block;
  line-height: 42px;
  text-align: center;
}
.content-outer .content-wrapper .J_CartMain {
  height: 50px;
}
.content-outer .content-wrapper .J_CartMain .cart-table-th .wp ul {
  display: flex;
  justify-content: space-around;
}
.content-outer .content-wrapper .J_CartMain .cart-table-th .wp ul li {
  width: 110px;
  height: 50px;
  padding-left: 10px ;
  line-height: 50px;
  font-weight: 600;
}
.content-outer .content-wrapper .J_OrderList {
  height: 500px;
  border-top: 1px solid #ccc;
}
.content-outer .content-wrapper .J_OrderList .shop-info {
  height: 38px;
  display: flex;
  align-items: center;
}
.content-outer .content-wrapper .J_OrderList .shop-info input {
  margin: 0px 10px;
}
.content-outer .content-wrapper .J_OrderList .shop-info img {
  margin-right: 10px;
}
.content-outer .content-wrapper .J_OrderList .shop-info > a {
  text-decoration: none;
  color: black;
}
.content-outer .content-wrapper .J_OrderList .shop-info > .discount {
  width: 61px;
  height: 25px;
  padding-left: 11px;
  border: 1px dashed #f40;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f40;
  font-size: 12px;
  margin-left: 50px;
}
.content-outer .content-wrapper .J_OrderList .shop-info > .discount > svg {
  width: 10px;
  height: 10px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box {
  margin: 0 auto;
  width: 1135px;
  height: 173px;
  border-radius: 30px;
  border: 1px solid #F5F5F5;
  background-color: #F5F5F5;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-top {
  height: 28px;
  padding: 9px 0px 3px 30px;
  display: flex;
  border-bottom: 1px solid #ccc;
  box-sizing: content-box;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-top .kuashop {
  width: 56px;
  height: 23px;
  border: 1px solid #f40;
  background-color: white;
  color: #f40;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
  font-weight: bold;
  margin-right: 20px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom {
  padding: 15px;
  display: flex;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > input {
  margin: 10px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom img {
  width: 80px;
  height: 80px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .content {
  background-color: #F5F5F5;
  margin-left: 10px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .content .content-top {
  width: 285px;
  height: 36px;
  margin-bottom: 20px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .content .content-top a {
  color: black;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .content .content-top a:hover {
  color: #f40;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .content .content-bottom > svg {
  width: 30px;
  height: 30px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .taste {
  margin-left: 30px;
  width: 170px;
  height: 84px;
  color: #9c9c9c;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .price {
  width: 120px;
  height: 120px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .price span {
  color: #9c9c9c;
  text-decoration: line-through;
  font-size: 16px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom > .price p {
  font-size: 16px;
  font-weight: bolder;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .kuang {
  width: 72px;
  height: 76px;
  background-color: #fff0e7;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .kuang .kuang-top {
  display: flex;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .kuang .kuang-top > .delete {
  width: 17px;
  color: #ffe1d3;
  height: 23px;
  line-height: 23px;
  text-align: center;
  display: block;
  border: 1px solid #ffe1d3;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .kuang .kuang-top > input {
  width: 39px;
  text-align: center;
  line-height: 23px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .kuang .kuang-top > .add {
  color: #ffe1d3;
  width: 17px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  display: block;
  border: 1px solid #ffe1d3;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .kuang .kuang-bottom {
  padding-top: 10px;
  color: #f40;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .kuang .kuang-bottom p {
  text-align: center;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .sum-price {
  color: #f40;
  margin-left: 60px;
  font-weight: bolder;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .remove {
  width: 83px;
  margin-left: 150px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .remove p {
  font-weight: normal;
  font-size: 12px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .remove p a {
  color: black;
  font-size: 12px;
}
.content-outer .content-wrapper .J_OrderList .commodity-box .commodity-box-bottom .remove p a:hover {
  color: #f40;
}
.content-outer .content-wrapper .J_FloatBarHolder {
  width: 1190px;
  position: absolute;
  bottom: 0px;
  margin-top: 30px;
  height: 92px;
  border-top: 1px solid #ccc;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .left {
  width: 370px;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .left ul {
  display: flex;
  justify-content: space-between;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .left ul li {
  margin: 0px 20px;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .left ul li a {
  color: #3c3c3c;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .left ul li a:hover {
  color: red;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .right ul {
  display: flex;
  justify-content: center;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .right ul li {
  line-height: 92px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .right ul li em {
  color: #f40;
  font-weight: 700;
  font-size: 22px;
}
.content-outer .content-wrapper .J_FloatBarHolder .float-bar-wrapper .right ul li a {
  width: 73px;
  height: 42px;
  border-radius: 26px;
  color: white;
  display: block;
  background-color: #B0B0B0;
  text-align: center;
  line-height: 42px;
}
