.reg-box .reg-box-wrapper {
  height: 407px;
  position: relative;
}
.reg-box .reg-box-wrapper .reg-form {
  width: 380px;
  height: 304px;
  margin: 0 auto;
  position: absolute;
  top: 180px;
  left: 375px;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item {
  height: 36px;
  display: flex;
  margin-bottom: 15px;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item label {
  width: 56px;
  height: 36px;
  text-align: right;
  font-size: 14px;
  line-height: 36px;
  color: #111;
  font-weight: normal;
  margin-right: 10px;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line {
  width: 308px;
  height: 34px;
  border: 1px solid #ccc;
  display: flex;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-label {
  width: 126px;
  height: 32px;
  padding: 2px 0px;
  border-right: 1px solid #ccc;
  font-size: 14px;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-label .country-select {
  display: flex;
  padding: 0px 6px;
  justify-content: space-between;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-label .country-select .areaName {
  line-height: 32px;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-label .country-select .areaCode {
  display: flex;
  align-items: center;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-label .country-select .areaCode .select-arrow {
  width: 10px;
  height: 7px;
  margin-top: 10px;
  background: url(../../img/reg/选择.png) no-repeat;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-control {
  display: flex;
  align-items: center;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-control input {
  padding: 2px 0px 2px 10px;
  color: #111;
  font-size: 12px;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-extra {
  margin-left: 90px;
}
.reg-box .reg-box-wrapper .reg-form .reg-form-item .am-list-line .am-input-extra a {
  display: inline-block;
  line-height: 34px;
  color: #ff5000;
  font-size: 12px;
  text-decoration: none;
}
.reg-box .reg-box-wrapper .reg-form .reg-btn {
  display: block;
  width: 320px;
  height: 36px;
  line-height: 36px;
  margin-left: 56px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f90), to(#ff5000));
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  text-decoration: none;
}
.reg-box .reg-box-wrapper .reg-form .fm-agreement {
  margin-left: 56px;
  display: flex;
}
.reg-box .reg-box-wrapper .reg-form .fm-agreement label div {
  font-weight: 400;
}
.reg-box .reg-box-wrapper .reg-form .fm-agreement label div span {
  font-size: 12px;
}
.reg-box .reg-box-wrapper .reg-form .fm-agreement label div a {
  text-decoration: none;
  color: #fd6020;
  font-size: 12px;
}
.reg-box .reg-box-wrapper .reg-form .to-email-reg {
  margin-left: 263px;
}
.reg-box .reg-box-wrapper .reg-form .to-email-reg a {
  color: #ff5000;
  font-size: 12px;
  text-decoration: none;
}
