.font {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
.home {
  height: 533px;
}
.home .home-wrapper {
  background-color: white;
  display: flex;
}
.home .home-wrapper .left {
  margin: 12px 0px 0px 18px;
  width: 212px;
  height: 512px;
}
.home .home-wrapper .left .category {
  display: flex;
  align-items: center;
  height: 40px;
}
.home .home-wrapper .left .category svg {
  width: 15px;
  height: 15px;
  margin: 0px 13px 0px 6px;
}
.home .home-wrapper .left .category a {
  font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
  font-size: 14px;
  color: #666;
}
.home .home-wrapper .left .category .slash {
  padding: 0px 8px;
}
.home .home-wrapper > .center {
  width: 520px;
  height: 519px;
  margin: 14px 0px 0px 23px;
  background-color: white;
}
.home .home-wrapper > .center > .swiper > .swiper-wrapper > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.home .home-wrapper > .center > .swiper > .swiper-wrapper > .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .home-wrapper > .center > .xia {
  height: 206px;
  margin-top: 20px ;
}
.home .home-wrapper > .center > .xia > .swiper > .swiper-wrapper > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
}
.home .home-wrapper > .center > .xia > .swiper > .swiper-wrapper > .swiper-slide > img {
  display: block;
  width: 255px;
  height: 200px;
  object-fit: cover;
  margin-left: 3px;
}
.home .home-wrapper > .center > .xia > .swiper > .swiper-wrapper > .swiper-slide > .img-1 {
  border-radius: 10px 0px 0px 10px;
}
.home .home-wrapper > .center > .xia > .swiper > .swiper-wrapper > .swiper-slide > .img-2 {
  border-radius: 0px 10px 10px 0px;
}
.home .home-wrapper .right {
  width: 384px;
  height: 508px;
  background-color: #f3f3f3;
  margin: 14px 0px 0px 15px;
  border-radius: 30px;
}
.home .home-wrapper .right .hi-nihao {
  text-align: center;
}
.home .home-wrapper .right p {
  color: #333;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.home .home-wrapper .right .banner {
  display: flex;
  justify-content: center;
}
.home .home-wrapper .right .banner img {
  border-radius: 10px;
}
.home .home-wrapper .right .notice-box {
  width: 370px;
  height: 105px;
  margin-top: 8px;
  margin-left: 14px;
}
.home .home-wrapper .right .notice-box .notice {
  color: #666;
  font-size: 14px;
}
.home .home-wrapper .right .notice-box .notice span {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-right: 6px;
  line-height: 16px;
}
.home .home-wrapper .right .notice-box .hot .span1 {
  background-color: rgba(255, 174, 174, 0.2);
  color: #fe0137;
  font-size: 12px;
  padding: 3px 4px;
  border-radius: 2px;
  margin-right: 4px;
}
.home .home-wrapper .right .notice-box .hot .span2 {
  color: #666;
  font-size: 12px;
  line-height: 12px;
}
.home .home-wrapper .right .bottom {
  width: 384px;
  height: 51px;
  display: flex;
  justify-content: space-evenly;
}
.home .home-wrapper .right .bottom .box {
  width: 60px;
  height: 50px;
  text-align: center;
}
.home .home-wrapper .right .bottom .box svg {
  width: 20px;
  height: 20px;
}
.home .home-wrapper .right .bottom .box p {
  margin-top: 3px;
  text-align: center;
}
.home .home-wrapper .right .bottom .box p a {
  color: #333;
}
.home .home-wrapper .right .bottom .box p a:hover {
  text-decoration: underline;
}
