.black {
  background-color: black;
  border-top: 2px solid red;
}
.black .black-wrapper .black1 {
  height: 347px;
  background-color: black;
}
.black .black-wrapper .black1 p {
  line-height: 25px;
  color: white;
  margin: 10px 0px ;
}
.black .black-wrapper .black1 p a {
  margin-right: 3px;
  color: #fff;
}
.black .black-wrapper .black1 .p3 {
  line-height: 25px;
  margin: 10px 0px ;
  color: #a4a4a4;
}
.black .black-wrapper .black1 .p3 a {
  margin-right: 8px;
  color: #a4a4a4;
}
.black .black-wrapper .black1 .p3 span {
  margin-right: 8px;
}
.black .black-wrapper .black1 .img-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.lastblack {
  height: 147px;
  background-color: black;
  overflow: hidden;
}
.lastblack .img-box {
  width: 176px;
  height: 71px;
  margin-top: 30px;
  margin-left: 704px;
  background-color: white;
}
.lastblack .img-box img {
  width: 176px;
  height: 71px;
}
